In [1]:
import json
import re
import numpy as np 
import pandas as pd

In [2]:
import importlib.util as imp

# The name 'twitter-connection.connection' seems inconsequential
#   perhaps just a spec name?
spec = imp.spec_from_file_location(
    'twitter-connection.connection', 
    '/home/rimov/Documents/Code/NLP/lin-que-dropping/twitter-connection/connection.py')
twit = imp.module_from_spec(spec)
spec.loader.exec_module(twit)

### References

https://twitter-trends.iamrohit.in/

In [8]:
cred_path = r'../twitter-connection/credentials.txt'

connection = twit.TwitterConnection(
    "spanish", 
    is_archive=False, 
    cred_path=cred_path)

In [9]:
with open('../extraction/verb-stem-clean.txt') as f:
    verb_stem = json.load(f)

In [10]:
query_cond = ' (lang:es OR lang:pt) has:geo -is:retweet -has:links '
# fields_tweet = 'tweet.fields=lang,text,public_metrics,organic_metrics,geo,referenced_tweets'
fields_tweet = 'tweet.fields=lang,geo,public_metrics,referenced_tweets'
fields_expan = 'expansions=author_id,geo.place_id,entities.mentions.username'
fields_user = 'user.fields=created_at,location,public_metrics'
fields_place = 'place.fields=country'

In [23]:
connection.set_query(conditions=query_cond)
connection.set_fields(tweet=fields_tweet, 
                      expansions=fields_expan, 
                      user=fields_user,
                      place=fields_place)

In [24]:
# Dataframes for initial parsing
response = pd.DataFrame()
desc = pd.DataFrame()

In [25]:
idx = 0

for vs in verb_stem.items():
    if idx==1:
        break
    
    verb = vs[0]
    stems = '(' + vs[1] + ')'
    print(f'Retrieving tweets: {verb}\nTopics: {stems}')
    
    data = pd.DataFrame()
    
    while connection.connect(stems, is_next=True):
        desc = pd.json_normalize(
                connection.response)
        
        print('Data before append:\n')
        display(data.head(3))
        
        data = data.append(
            pd.json_normalize(
                connection.response, record_path='data'))
        
        data.reset_index(drop=True, inplace=True)
        
        print('Data after append:\n')
        display(data.head(3))
        
        # Duplicated text
#         dup = d.loc[:, 'text'].duplicated() 
        # Wrong language
        lang = (data.loc[:, 'lang']!='es') & (data.loc[:, 'lang']!='pt')
        # Is a retweet
        retweet = data.loc[:, 'text'].str.contains('RT @')
        
        # Remove '@...' mentions
        data.loc[:, 'text'] = data.loc[:, 'text'].str.replace(r'(@[\w]+ )', '', regex=True)
        
        print('Undesirables:\n')
        display(
            pd.concat([data.loc[:, ['lang', 'text']], 
                       lang.rename('is_wrong_lang'), 
                       retweet.rename('is_retweet')], 
                      axis=1))
        
        data.drop(
            data.loc[lang|retweet].index, 
            inplace=True)
        
        print('After dropping:\n')
        display(data.head(3))
        
        print(data.shape[0])
        
        if data.shape[0] >= 5:
            break
    
    idx+=1
    response = response.append(data, ignore_index=True)

Retrieving tweets: ver
Topics: (ve OR vi OR vê)
Data before append:

Empty DataFrame
Columns: []
Index: []

Data after append:

,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
0,0,tr,1407351787867287561,1288820462299086848,"[{'type': 'retweeted', 'id': '1407258255181635...","RT @mild_mignonette: Dinin ahlaki yönünü atıp,...",23,0,0,0,"[{'start': 3, 'end': 19, 'username': 'mild_mig...",NaN
1,1,en,1407351787787542534,1118587566016561155,NaN,It's been a while since I've done some JJBA OC...,0,0,2,0,NaN,NaN
2,2,und,1407351787707895817,1349012190393675778,NaN,https://t.co/ZsRZigT41c,0,0,0,0,NaN,NaN

Undesirables:

,lang,text,is_wrong_lang,is_retweet
0,tr,"RT @mild_mignonette: Dinin ahlaki yönünü atıp,...",True,True
1,en,It's been a while since I've done some JJBA OC...,True,False
2,und,https://t.co/ZsRZigT41c,True,False
3,en,"""Apparently I'm very good at relationship coun...",True,False
4,tr,RT @gidahareketi: Yerli aşı #turkovac'ı olacak...,True,True
5,en,RT @TickTockTennis: Brandon Nakashima makes ve...,True,True
6,pt,RT @Jollyxx: Estava no uber e ele decidiu não ...,False,True
7,en,😂😂 I’ve been up for 4 hours… my mind is awake af,True,False
8,tr,RT @eysanofficialll: 🎁FAV ve RT YAPANLAR KAZAN...,True,True
9,es,"y esta es la que te digo, son noticias polític...",False,False

After dropping:

,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
9,9,es,1407351787057827848,198526689,"[{'type': 'replied_to', 'id': '140735080665603...","y esta es la que te digo, son noticias polític...",0,0,0,0,"[{'start': 0, 'end': 15, 'username': 'tuyomies...",NaN

1
Data before append:

,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
9,9,es,1407351787057827848,198526689,"[{'type': 'replied_to', 'id': '140735080665603...","y esta es la que te digo, son noticias polític...",0,0,0,0,"[{'start': 0, 'end': 15, 'username': 'tuyomies...",NaN

Data after append:

,level_0,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
0,9,9.0,es,1407351787057827848,198526689,"[{'type': 'replied_to', 'id': '140735080665603...","y esta es la que te digo, son noticias polític...",0,0,0,0,"[{'start': 0, 'end': 15, 'username': 'tuyomies...",NaN
1,0,NaN,tr,1407351787019984897,248627004,"[{'type': 'retweeted', 'id': '1407325427333537...",RT @mt_goksu: Yerli Kovid-19 aşısında 3. faz ç...,271,0,0,0,"[{'start': 3, 'end': 12, 'username': 'mt_goksu'}]",NaN
2,1,NaN,en,1407351786860593166,291862171,"[{'type': 'retweeted', 'id': '1407345390047928...",RT @anonycraig: There are people trying to kee...,3,0,0,0,"[{'start': 3, 'end': 14, 'username': 'anonycra...",NaN

Undesirables:

,lang,text,is_wrong_lang,is_retweet
0,es,"y esta es la que te digo, son noticias polític...",False,False
1,tr,RT @mt_goksu: Yerli Kovid-19 aşısında 3. faz ç...,True,True
2,en,RT @anonycraig: There are people trying to kee...,True,True
3,en,Ah really. Now I've driven a couple of R8's an...,True,False
4,en,RT @bbbabyruth: i’ve never related to somethin...,True,True
5,en,Literally it would’ve cost me the same if I st...,True,False
6,pt,RT @SigaGazetaBR: Arthur Lira diz que não vê c...,False,True
7,en,i should’ve got me some customized plates,True,False
8,tr,RT @yilmazgul35351: Yıllardır ailenin ve seven...,True,True
9,en,"😂😂""do football"". Hahaa, I've never liked foot...",True,False
10,tr,"RT @SezginOzbay: Şeriat, İslam alimlerinin (be...",True,True

After dropping:

,level_0,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
0,9,9.0,es,1407351787057827848,198526689,"[{'type': 'replied_to', 'id': '140735080665603...","y esta es la que te digo, son noticias polític...",0,0,0,0,"[{'start': 0, 'end': 15, 'username': 'tuyomies...",NaN

1
Data before append:

,level_0,index,lang,id,author_id,referenced_tweets,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,entities.mentions,geo.place_id
0,9,9.0,es,1407351787057827848,198526689,"[{'type': 'replied_to', 'id': '140735080665603...","y esta es la que te digo, son noticias polític...",0,0,0,0,"[{'start': 0, 'end': 15, 'username': 'tuyomies...",NaN

ValueError: cannot insert level_0, already exists

In [26]:
response.head()

Empty DataFrame
Columns: []
Index: []

In [59]:
lang = response.loc[:, 'lang']!='es'

In [60]:
response.drop(response.loc[lang, :].index, inplace=True)
response

,lang,id,conversation_id,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,in_reply_to_user_id
4,es,1404865872515194884,1404865188109684747,"se ve tan real, además L y H se ven muy guapos",0,1,1,0,920381329669226497
32,es,1404865864143343620,1404631106876542976,Fraude es tu vida se sabia que mucha gente en ...,0,1,0,0,1252820905396301835
41,es,1404865862096535563,1404564648083525634,Sí ve a decirle a tu lider que le has defendid...,0,1,0,0,1362009157558292483
44,es,1404865862012702722,1404719991237251078,Y si su comportamiento es igual al este papelo...,0,0,1,0,1281968549330857986

In [61]:
response.loc[:, 'text'] = response.loc[:, 'text'].str.replace(r'(@\w+)\b', '', regex=True)
response

,lang,id,conversation_id,text,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,in_reply_to_user_id
4,es,1404865872515194884,1404865188109684747,"se ve tan real, además L y H se ven muy guapos",0,1,1,0,920381329669226497
32,es,1404865864143343620,1404631106876542976,Fraude es tu vida se sabia que mucha gente en ...,0,1,0,0,1252820905396301835
41,es,1404865862096535563,1404564648083525634,Sí ve a decirle a tu lider que le has defendid...,0,1,0,0,1362009157558292483
44,es,1404865862012702722,1404719991237251078,Y si su comportamiento es igual al este papelo...,0,0,1,0,1281968549330857986

In [63]:
response.loc[:, 'text'].apply(split)

NameError: name 'split' is not defined

In [62]:
for a in response.loc[:, 'text']:
    print(f'{a}\n')

se ve tan real, además L y H se ven muy guapos

Fraude es tu vida se sabia que mucha gente en el sur está votando por castillo qué pasa se ve que no has viajado por la ciudades

Sí ve a decirle a tu lider que le has defendido bien.

Y si su comportamiento es igual al este papelon. Obviamente que si. O pensas que se critica lo que se ve con hormonas ?? 🤔

In [11]:
with open('es_data.txt', 'w') as d:
    d.writelines(response.to_json(orient='table', force_ascii=False))

### Extracting Conversations

In [13]:
conv_ids = response.loc[:, 'conversation_id'].values

print(f'Extracted {len(conv_ids)} convos\n')

Extracted 22 convos

In [14]:
query_conv = 'conversation_id:'
query_conv_cond = ' -has:links '
conv_fields = 'tweet.fields=conversation_id,lang,in_reply_to_user_id,text,attachments,public_metrics'\
  '&expansions=author_id&user.fields=username,public_metrics'

In [19]:
# Dataframe for conversations
convs = pd.DataFrame()
# Dataframes for users
users = pd.DataFrame()

In [20]:
# If the rate limit is hit while querying, save progress
convo_idx = 0

In [21]:
for c_id in conv_ids[convo_idx:]:
    d = pd.DataFrame()
    u = pd.DataFrame()
    
    print(c)
    
    while connection.connect(query_conv + c_id + query_conv_cond, conv_fields, True):
        d = d.append(
            pd.json_normalize(connection.response, record_path='data'))
        u = u.append(
            pd.json_normalize(connection.response['includes'], record_path='users'))
        
        d.loc[:, 'text'] = d.loc[:, 'text'].str.replace(r'^(@[\w]+ )+', '', regex=True)
        
        short_text = d.loc[:, 'text'].apply(len) < 20
        lang = d.loc[:, 'lang']!='es'
        
        d.drop(
            d.loc[lang|short_text].index, 
            inplace=True)
        
        if d.shape[0]>14:
            break
        
    convs = convs.append(d, ignore_index=True)
    users = users.append(u, ignore_index=True)
    
    convo_idx+=1

1402642305522282500
No next token!
1402637774805667841
No next token!
1402634503173165058
No next token!
1402624093946527745
1402634186909962240
No next token!
1402634112557518854
No next token!
1402633756888944642
No next token!
1402631188284645382
1402633207640641538
No next token!
1402626496989179915
1402629532994125827
No next token!
1402615477172686850
No next token!
1402625048180047879
No next token!
1402624924129366018
No next token!
1402617093514727426
1402131777641193477
No next token!
1402620991369535495
No next token!
1402619563200729092
No next token!
1402623588176478209
No next token!
1402623338535604229
No next token!
1402623254767050756
No next token!
1402454421439717378
No next token!

In [22]:
print(f'Extracted {convs.shape[0]} texts\nSample:\n')
convs.head()

Extracted 109 texts
Sample:

,in_reply_to_user_id,conversation_id,author_id,lang,text,id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count
0,69416519,1402624093946527745,1537353780,es,"Muchas fuerza Florencia,lo que te desea el mal...",1402658383950454791,0,0,0,0
1,69416519,1402624093946527745,468895557,es,El mal que hace la madre lo pagan los hijos.\n...,1402656218150285315,0,0,0,0
2,69416519,1402624093946527745,1471308854,es,Nunca un hospital público estos garcas. Ni ver...,1402655563792764935,0,0,0,0
3,69416519,1402624093946527745,398461357,es,Porque no muestra la cara ?,1402653558219194372,0,0,0,0
4,69416519,1402624093946527745,169167606,es,Esta mujer esta anoréxica,1402653194174468103,0,0,1,0

In [23]:
with open('es_convs.txt', 'w') as d:
    d.writelines(convs.to_json(orient='table', force_ascii=False))

#### Examining extracted users

## TODO: users were improperly counted; count is WRONG

In [25]:
dups = users.loc[:, 'id'].duplicated()

print(f'Users: {users.shape[0]}, duplicated: {dups.sum()}')

Users: 256, duplicated: 27

In [27]:
users.drop(users.loc[dups].index, inplace=True)
print(users.shape[0])

229

In [28]:
with open('es_users.txt', 'w') as d:
    d.writelines(users.to_json(orient='table', force_ascii=False))